Package: com.yourepo.cbprefs.libertypref1
Name: CallBlocker
Version: 1.0
Architecture: iphoneos-arm
Description: CallBlocker CallBlocker CallBlocker
Author: 小謝 <vv741852v@gmail.com>
Section: X Window
Depends: firmware (>=11.0)
Icon: file:///Applications/Cydia.app/Sections/Localization.png
Maintainer: 小謝 <vv741852v@gmail.com>

