Package: com.yourepo.cbprefs.libertypref1
Name: ColorMyCCModules 繁體中文化
Version: 1.0
Architecture: iphoneos-arm
Description: 安裝前請先安裝好 ColorMyCCModules安裝前請先安裝好 ColorMyCCModules
Author: 小謝 <vv741852v@gmail.com>
Section: X Window
Depends: firmware (>=11.0)
Maintainer: 小謝 <vv741852v@gmail.com>

