Package: com.mrmadtw.LatchKey
Name:  LatchKey 繁體中文化
Version: 1.0
Architecture: iphoneos-arm
Description: 安裝前請先安裝好 LatchKey
Maintainer: 小謝 <vv741852v@gmail.com>
Author: 小謝 <vv741852v@gmail.com>
Section: 中文化
Depends: firmware (>=11.0)
