Package: com.yourepo.cbprefs.libertypref1
Name: Cydia 繁體中文化
Version: 1.1
Architecture: iphoneos-arm
Description: 安裝前請先安裝好 Cydia安裝前請先安裝好 Cydia
Author: 小謝 <vv741852v@gmail.com>
Section: X Window
Depends: firmware (>=11.0)
Maintainer: 小謝 <vv741852v@gmail.com>

