Architecture: iphoneos-arm
Author:  NsBm0d 
Depiction: https://github.com/NsBm0d/NsBm0d.github.io
Description: Crystal Apple
Maintainer:  NsBm0d  <NsBm0d@LIVE.com>
Name: NsB
Package: com.NsBm0d.NsB
Section: NThemes
Version: 1.0.1
